<h1>Edit your note</h1>
<hr />
<%= form_for @note do |note| %>
  <p>
    <%= note.label :title %><br />
    <%= note.text_field :title %><br />
  </p>
  <p>
    <%= note.label :body %><br />
    <%= note.text_area :body %><br />
  </p>
  <p>
    <%= note.select :category_id, Category.all.collect{ |x| [x.name, x.id]}, { :include_blank => "Select a category"} %><br />
  </p>
  <p>
    <%= note.submit 'Edit note' %>
<% end %>
<hr />
<%= link_to 'Cancel', note_path %>
