<h3><%= @note[:title] %></h3>
<small>
  <%= @note[:created_at].strftime("%b %d. %Y - %H:%M:%S") %>
  <% if @note[:created_at] != @note[:updated_at] %>
    <small> - updated on: <%= @note[:updated_at].strftime("%b %d. %Y - %H:%M:%S") %></small>
  <% end %>
</small>
<hr>
<h3>Note Body:</h3>
<p><%= @note[:body] %></p>
<h3>Owner ID:</h3>
<p><%= @note[:owner_id] %></p>
<h3>Note Category:</h3>
<p><%= link_to @category[:name],category_path(:id => @note.category_id) %></p>
<hr />
<small><%= link_to 'Edit note', action: 'edit' %> -
  <%= link_to 'Back to notes', action: 'index' %> -
  <%= link_to 'Delete note', @note, :method => :delete, data: { confirm: "Are you sure you want to delete this note?" } %></small>
