<h3><%= @note[:note_title] %></h3>
<small> <%= @note[:created_at].strftime("%b %d. %Y") %> </small>
<hr>
<h3>Note Body:</h3>
<p><%= @note[:note_body] %></p>
<h3>Owner ID:</h3>
<p><%= @note[:owner_id] %></p>
<h3>Note Category:</h3>
<p><%= @note[:note_category_id] %></p>
<br />
<small><a href='../notes'>Back to notes</a></small>
