<h3><%= @category[:name] %></h3>
<small> <%= @category[:created_at].strftime("%b %d. %Y - %H:%M:%S") %> </small>
<hr>
<h3>Description:</h3>
<p><%= @category[:description] %></p>
<h3>Owner ID:</h3>
<p><%= @category[:owner_id] %></p>
<small><%= link_to 'Back to categories', action: 'index' %></small>
